<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
      <h2 class="footer-heading">&copy; 2019 {{ site.title | escape }}</h2>
  
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
	      <li>Phone: <a href="tel:0916539229" target="_blank">0916 539 229</a></li>
              <li>Email: <a href="mailto:baphong80@gmail.com" target="_blank">anhquoc2112001@gmail.com</a></li>
              <li>Facebook: <a href="https://www.facebook.com/baphong80/" target="_blank">/quocanh02</a></li>
	      <li>Địa chỉ: <a href="https://goo.gl/maps/j3tyacTYeFe5SkK8A" target="_blank">Google Map</a></li>
          </ul>
        </div>
  
        <div class="footer-col footer-col-3">
          <p>This is the official website of Nguyễn Quốc Anh. Mr. Quốc Anh will offer documents and files containing IELTS mock exams and English courses.
		He will also give valuable advices about travelling abroad.</p>
        </div>
      </div>
  
    </div>
  
  </footer>
